@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

  /*
  //
  //Estilo principal del documento y etiquetas
  //
  */

  html {
    background-color: white;
    background: rgba(255,30,0,1);
    background: -moz-linear-gradient(top, rgba(255,30,0,1) 0%, rgba(255,30,0,1) 20%, rgba(255,153,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,30,0,1)), color-stop(20%, rgba(255,30,0,1)), color-stop(100%, rgba(255,153,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,30,0,1) 0%, rgba(255,30,0,1) 20%, rgba(255,153,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,30,0,1) 0%, rgba(255,30,0,1) 20%, rgba(255,153,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,30,0,1) 0%, rgba(255,30,0,1) 20%, rgba(255,153,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,30,0,1) 0%, rgba(255,30,0,1) 20%, rgba(255,153,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1e00', endColorstr='#ff9900', GradientType=0 );
    min-height: 100%;
    color: #2a2a2a;
  }

  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
  }

  body{
    font-size: 100%;
  }

  h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }

  /*
  //
  //Estilo para los bloques básicos de la página.
  //
  */

  #Main{
  	width:66.72%;
    min-width: 66.72%;
  	max-width: 66.72%;
  	margin-left:auto;
  	margin-right:auto;
  	text-align: center;
  }

  #Header{
  	width:100%;
  	background-color:black;
  	display: block;
  }
  #Menu{
  	width: 100%;
  	border:none;
  	display: table;
  	text-align: center;
  	float:none;
    clear:right;
  }

  #Contenido{
  	background-color:white;
  	color:black;
  	text-align:center;
  }

  #Pie{
  	color:white;
  	background-color:black;
  	text-align:center;
  }

  /*
  //
  //Estilo para los componentes del Slider.
  //
  */

  #slideBox{
    clear: left;
    width: 100%;
    max-width: 100%;
    height: 59.97vh;
  	position:relative;
  	
  }

  #slideMask{
    width: 20%;
    height: 100%;
    float: left;
    background-color: white;
    color:black;
    font-weight: bold;
    font:tahoma;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
  }


  #slider {
    width: 80%;
    max-width: 80%;
    height: 100%;
    float: left;
    position:relative;
    overflow: hidden;
    margin: 0 auto 0 auto;
    
  }

  #slider ul {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
  }

  #slider ul li {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
  }


  #slider ul li span:hover{
    opacity: 1.0;
    -webkit-transition: all 0.2s ease;

  }

  .slideText{
    
    font-weight: bold;
    position:absolute;
    right:0;
    bottom:0;
    width:100%;
    opacity:0.5;
    background-color: black;
    font:tahoma;
    font-size: 125%;
    text-align: center;
    color:white;
    text-decoration: none;
    z-index:2;
    
  }

  a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background-color:black;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 100%;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 10% 10% 0;
}

a.control_next {
  right: 0;
  border-radius: 10% 0 0 10%;
}


  /*
  //
  //Estilo para los elementos del cuerpo de la página.
  //
  */


  #Articulo, #Review{
    font:Tahoma, Geneva, sans-serif;
    font-size: 130%;
    color:black;
    padding: 1%;
  }


  #Contacto{
    width: 100%;
    display: table;
    text-align: center;
    float:none;
    clear:both;
    font-style: italic;
    font-size: 120%;
  }

  #Contacto > div{
    width: 50%;
    display: table-cell;
    float:left;
  }

  .Titulo, .MTitulo{
  	
  	text-align:center;
    border: 10px inset white;
  }

  .MTitulo{
    font-size: 250%;
    font:"Times New Roman", Times, serif;
  }

  .Titulo{
    font:Tahoma, Geneva, sans-serif;
    font-size:200%;
  }

  .imgBox{
    width: auto;
    max-width: auto;
    display: inline-block;
    background-color: #DFDFDC;
    font:"Times New Roman", Times, serif;
    font-style:italic;
    font-size:12;
    text-align:center;
    padding: 4%;
    border-radius: 3%;
    overflow: hidden;
  }

  .imgBox img{
    margin:auto;
    border-radius: 3%;
    background-color: black;
    padding: 1.5%;
    
  }

  .bloqAut{
    background-color: #DFDFDC;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
  }

  .bloqLink .imgBox{
    background-color: transparent;
  }

  .bloqLink:hover, .bloqLink .imgBox:hover{
    background-color: #DFDFDC;
  }



  .bloqAut, .bloqArt, .bloqLink{
    display: table;
    width: 100%;

  }

  .bloqAut p, .bloqArt p, .bloqLink p{
    display: table-cell;
    vertical-align: middle;
  }


  /*
  //
  //Estilo para el menú principal.
  //
  */



  .BMenu, .MBMenu{
    width: 20%;
    max-width: 20%;
  	display: table-cell;
  	cursor:pointer;
  	float:left;
  }

  .MBMenu{
  	
  	background-color:#FFF;
  }

  .MBMenu:hover{
  	
  	
  	background-color:#CCC;
  }

  .BMenu{
  	background-color:black;
  }


  .BMenu:hover {
      background-color:#CCC;
  	color:white;
  }
